/**
  metajelo-ui also relies on metajelo-web css:
**/
@import url('/css/webcss/style.css');

.metajelo-ui_id:before {
  content: "Id: ";
}

.metajelo-ui_idType:before {
  content: " Identifier Type ";
}

.metajelo-ui_relatedId:before {
  content: "Related Identifier: ";
}

.metajelo-ui_relType:before {
  content: " Relation Type ";
}

.metajelo-ui_record:before {
  content: "Metajelo Record Form ";
  font-size: 20px;
  font-weight: bold;
}

.metajelo-ui_recPreview:before {
  content: "Metajelo Record preview:";
  font-size: 16px;
  font-weight: bold;
}

.metajelo-ui_recordId:before {
  content: "Record Identifier";
  font-size: 14px;
  font-weight: bold;
}

.metajelo-ui_resourceId:before {
  content: "Resource ID";
  font-weight: bold;
}

.metajelo-ui_productsHeader:before {
  content: " Supplementary Products ";
  font-size: 18px;
  font-weight: bold;
}

.metajelo-ui_relatedIdsHeader:before {
  content : " Related Identifiers ";
  font-size: 14px;
  font-weight: bold;
}

.metajelo-ui_product:before {
  content : " Product ";
  font-size: 18px;
  font-weight: bold;
}

.metajelo-ui_prodPreview:before {
  content: "Product preview:";
  font-size: 14px;
  font-weight: bold;
}

.metajelo-ui_location:before {
  content : "Location\A";
  font-size: 16px;
  font-weight: bold;
  white-space: pre;
}

.metajelo-ui_superOrg:before {
  content : "Super Organization (optional): ";
  font-size: 14px;
}

/* .metajelo-ui_institutionId:before {
  content : "\AInstitution ID: ";
  font-size: 14px;
}
 */

.metajelo-ui_institutionName:before {
  content : "Institution Name: ";
  font-size: 14px;
}

.metajelo-ui_institutionType:before {
  content : " Institution Type ";
  font-size: 14px;
}

.metajelo-ui_versioning:before {
  content : " versioning? ";
}

.metajelo-ui_locPreview:before {
  content: "Location preview:";
  font-size: 14px;
  font-weight: bold;
}

.metajelo-ui_sustainability:before {
  content : "Institution Sustainability: ";
  font-size: 16px;
  font-weight: bold;
}

.metajelo-ui_missionStatement:before {
  content : "Mission Statement URL: ";
  font-size: 14px;
}

.metajelo-ui_fundingStatement:before {
  content :  "Funding Statement URL: ";
  font-size: 14px;
}

.metajelo-ui_basicMetadata:before {
  content : " Basic Metadata ";
  font-size: 14px;
  font-weight: bold;
}

.metajelo-ui_title:before {
  content : "Title: ";
}

.metajelo-ui_creator:before {
  content : "Creator: ";
}

.metajelo-ui_pubyear:before {
  content : "Publication Year: ";
}

.metajelo-ui_resourceType:before {
  content :  " Resource Type ";
  font-weight: bold;
}

.metajelo-ui_resourceTypeGen:before {
  content :  "General Type: ";
}

.metajelo-ui_resourceTypeDescr:before {
  content : "Description: ";
}

.metajelo-ui_format:before {
  content : "Format: ";
}

.metajelo-ui_formatList:before {
  content : " Formats ";
  font-size: 16px;
  font-weight: bold;
}

/*
  TODO: add to formatList tooltip:

    tipText = "Technical format of the resource." <>
    "Use file extension or MIME type where possible."

*/

.metajelo-ui_resourceMDSource:before {
  content: " Resource Metadata Source ";
  font-weight: bold;
}


/* FIXME: this is not working for some reason: */
.metajelo-ui_resourceMDSource .metajelo-ui_url:before {
  content: "URL: ";
}